.checkbox {
  margin: 2% auto;
  width: 250px;

  label {
    position: relative;

    &::before {
      border: 1px solid;
      content: '';
      display: inline-block;
      height: 16px;
      left: -5px;
      position: relative;
      top: 3px;
      width: 16px;
    }

    &::after {
      border-bottom: 2px solid;
      border-left: 2px solid;
      content: '';
      display: inline-block;
      height: 8px;
      left: -3px;
      position: absolute;
      top: -1px;
      transform: rotate(-45deg);
      width: 13px;
    }
  }

  input {
    & + label {
      &::after {
        content: none;
      }
    }

    &:checked + label {
      &::after {
        content: '';
      }
    }
  }
}



